@import './assets/fonts/TestFoundersGrotesk.css';

html,
body {
	padding: 0;
	margin: 0;
}

$colors-semantic-success-semantic-success-medium: #B6EEE5;


#app {
	margin: 0;
	padding: 0;
	width: 375px;
	font-family: "TestFoundersGrotesk";

	h1 {
		padding: 8px 24px;
		margin: 0;
	}

	.order-list {
		width: 375px;
		box-sizing: border-box;
		padding: 0px 24px;

		.order-list-item {
			position: relative;
			width: 327px;
			height: 292px;
			border-radius: 24px;
			box-shadow: 0px 1px 12px -6px #0000009C;
			margin-bottom: 16px;

			header {
				position: relative;
				height: 148px;
				border-radius: 24px 24px 0 0;
				background-size: cover;
				background-repeat: no-repeat;
				color: #ffffff;

				.header-content {
					padding: 24px;

					h2 {
						margin-bottom: 0;
					}

					time {
						margin-right: 1rem;
					}
				}

				.merchant-logo {
					$size: 48px;
					width: $size;
					height: $size;
					border-radius: 50%;
					background-color: #C4C4C4;
					position: absolute;
					bottom: -(calc($size/2));
					left: 255px;
				}
			}

			main {
				padding: 24px;
				display: flex;

				.time-container {
					$size: 96px;
					width: $size;
					height: $size;
					border-radius: 16px;
					border: solid 4px #000000;
					padding: 2px;
					box-sizing: border-box;

					time {
						display: block;
						box-sizing: border-box;
						$size: 84px;
						width: $size;
						height: $size;
						border-radius: 11px;
						background-color: $colors-semantic-success-semantic-success-medium;
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;

						span {
							display: block;

							&.date-number {
								font-size: 2rem;
								// background-color: blue;
							}

							&.date-month {}
						}
					}

				}

				.cobro {
					padding: 24px;

					span {
						display: block;

						&.cobro-qty {
							font-size: 1.5em;
							font-weight: bold;
						}
					}
				}

				.compra-completada {
					padding: 24px;

					.compra-completada-title {
						display: block;
					}

					.compra-completada-date {
						display: block;
						font-size: 1.5em;
						font-weight: bold;
					}
				}
			}
		}
	}
}